body {
  background-color: lightblue;
}
img{
  width: 100%;
}
.parent{
  display: flex;
  justify-content:center;
}
.child {
  border: 2px solid red;
  text-align:center;
  justify-content: center;
  width: 20%;
  box-shadow: 5px 5px blue;
  margin: 5% 5%;
}
@media screen and (min-width:320px) and (max-width:480px)
 {
.parent
{
  flex-wrap: wrap;

}
.child
{
  flex-wrap: wrap;
  width: 100%;
}
}
